loja     ICON   "loja.ico"
fundo    JPEG   "fundo.jpg"
incluir  BITMAP "incluir.bmp"
alterar  BITMAP "alterar.bmp"
excluir  BITMAP "excluir.bmp"
filtrar  BITMAP "filtrar.bmp"
fechar   BITMAP "fechar.bmp"
cofirmar BITMAP "confirmar.bmp"