loja             ICON   "loja.ico"
fundo            JPG    "fundo.jpg"
incluir          BITMAP "incluir.bmp"
alterar          BITMAP "alterar.bmp"
excluir          BITMAP "excluir.bmp"
filtrar          BITMAP "filtrar.bmp"
fechar           BITMAP "fechar.bmp"
confirmar        BITMAP "confirmar.bmp"
visualizar       BITMAP "visualizar.bmp"
legenda_vermelho PNG    "legenda_vermelho.png"